<%- include('menu'); -%>
<div class="container">
    <h1>one car</h1><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Variant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
                           for(let i=0; i<cars.length; i++)
                           {
                           %>
                        <tr>
                            <th><%=cars[i].id %></th>
                            <th><%=cars[i].make %></th>
                            <th><%=cars[i].model %></th>
                            <th><%=cars[i].variant %></th>
                        </tr>
                        <%
                            }
                           %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>